.TodoForm {
  font-family: 'Eurostile Extended', Arial, sans-serif;
  color: #fff;
  padding: 10px; /* Reducir el espacio interno para dispositivos móviles */
}

.TodoForm-label {
  font-size: 18px; /* Reducir el tamaño del texto para dispositivos móviles */
  font-weight: bold;
  margin-bottom: 8px; /* Reducir el margen inferior para dispositivos móviles */
}

.TodoForm-textarea {
  width: calc(100% - 20px); /* Ajustar el ancho del textarea al 100% menos el espacio del padding */
  padding: 12px;
  margin-bottom: 15px; /* Reducir el margen inferior para dispositivos móviles */
  border: 2px solid #24AA5A;
  border-radius: 8px;
  background-color: rgba(5, 52, 21, 0.8);
  color: #fff;
  font-family: 'Eurostile Extended', Arial, sans-serif;
  font-size: 14px; /* Reducir el tamaño del texto para dispositivos móviles */
  resize: vertical; /* Permitir el redimensionamiento vertical del textarea */
  transition: border-color 0.3s, box-shadow 0.3s;
}

.TodoForm-textarea:focus {
  border-color: #7FF12A;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.TodoForm-buttonContainer {
  text-align: center;
  margin-top: 15px; /* Agregar un margen superior para dispositivos móviles */
}

.TodoForm-button {
  font-family: 'Eurostile Extended', Arial, sans-serif;
  background-color: #053415;
  color: #7FF12A;
  font-size: 20px; /* Reducir el tamaño del texto para dispositivos móviles */
  text-align: center;
  margin-right: 8px; /* Reducir el margen derecho para dispositivos móviles */
  padding: 12px 24px; /* Reducir el padding para dispositivos móviles */
  border: 2px solid #24AA5A;
  border-radius: 10px; /* Reducir el radio de borde para dispositivos móviles */
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.TodoForm-button--cancel {
  background-color: #333;
  border-color: #999;
}

.TodoForm-button:hover,
.TodoForm-button:focus {
  background-color: #24AA5A;
  color: #053415;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
  transform: translateY(-2px);
}
